@use 'variaveis';

*{
    margin: 0, auto;
}

body {
    background-color: variaveis.$corDeFundoSec;
    color: variaveis.$corDasLetras;
    text-align: center;
    width: 100%;

    h1 {
        background-color: variaveis.$corDeFundo;
        max-width: 200px;
        margin: 0 auto;
        margin-top: 100px;
        border-radius: 10px;
    }

    .container {
        background-color: variaveis.$corDeFundo;
        width: 100%;
        max-width: 1240px;
        margin: 0 auto;
        border-radius: 10px;
        
        ul {
            display: grid;
            grid-template-columns: repeat(6, 200px);
            gap: 5.6px;
            width: 100%;
            padding-bottom: 32px;
            margin: 0 auto;
            text-align: center;
            padding-left: 6px;

            li {
                list-style: none;
                align-items: center;
                

                img {
                    height: 200px;
                    object-fit: cover;
                    width: 200px;
                }
            }
        }
        
    }
}
